DATABASE_URL="postgresql://postgres:YOUR-PASSWORD@db.rudaqsfgjorryuqayqyd.supabase.co:5432/postgres"
REDIS_URL="https://living-sailfish-114759.upstash.io"
REDIS_TOKEN="gQAAAAAAAcBHAAIgcDI2ZmE3NGZiOGU5YTA0MGE3OGVkYzVlOThlNGYyY2MxOA"
JWT_SECRET="changeme_random_64_chars_secret"
JWT_REFRESH_SECRET="changeme_random_64_chars_refresh_secret"
OPENFREEMAP_NO_TOKEN_REQUIRED=""
CLIMATIQ_API_KEY=""
NODE_ENV="development"
PORT=3000
CORS_ORIGIN="http://localhost:5173"
USE_TIMESCALEDB="false"
